

html,
body {
    margin: 0;
    width: 100%;
    height: 100vh;
    flex-direction: row;
    justify-content: center;
    align-items: top;
    background: #202125;
}
h1{
    padding-top: 50px;
    color:#fff;
    font-family: 'Arial';
    font-size: 30px;
    text-align: center;
}

h3{
    color: #777777;
    text-align: center;
    font-family: 'Arial';

}
.container{
    align-items: center;
   padding-left: 5px;
}
.button{
    align-items: center;
    font-family: 'Arial';
    width: 171px;
    height: 90px;
    border: none;
    outline: none;
    color: #fff;
    background: #3A3A3A;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-left: 10px;
}
.preset{
    font-family: 'Arial';
    
    border: none;
    outline: none;
    color: #fff;
    background: #3A3A3A;
    cursor: pointer;
    z-index: 0;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-left: 10px;
}
.menu-buttons
{
    bottom: 0;
    position: fixed;
    width: 97.5%;
    height: 70px;
    background: #3A3A3A;
    border-color: #3A3A3A;
    border-style: solid;
    border-width: 5px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-width: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

