

html,
body {
    margin: 0;
    width: 100%;
    height: 100vh;
    flex-direction: row;    
    justify-content: center;
    align-items: top;
    background: #202125;
}
h1{
    padding-top: 50px;
    color:#fff;
    font-family: 'Arial';
    font-size: 60px;
    text-align: center;
}
.image{
    align-items: left;
}
h3{
    color: #777777;
    font-size: 30px;
    text-align: center;
    font-family: 'Arial';

}
.container{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   
}
.button{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    font-family: 'Arial';
    width: 171px;
    height: 90px;
    border: none;
    color: #fff;
    background: #3A3A3A;
    cursor: pointer;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 15px;
    margin-top: 10px;
    margin-left: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  

background-repeat: no-repeat;

}

.button svg {
    height: 40px;
    width: auto;
    filter: invert(100%);
    /* box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */
}
.button p {
    text-align: left;
    font-size: 15px;
}

.button p span{
    display: block;
    
}

.activelight p span {
    color: #F1BE41
}

.activelight svg {
    filter: invert(68%) sepia(93%) saturate(371%) hue-rotate(349deg) brightness(104%) contrast(89%);
}
.activefan p span {
    color: #8CAFEC;
}

.activefan svg {
    filter: invert(67%) sepia(38%) saturate(412%) hue-rotate(181deg) brightness(94%) contrast(96%);
}
.activedevice p span {
    color: #90B791;
}

.activedevice svg {
    filter: invert(69%) sepia(27%) saturate(317%) hue-rotate(72deg) brightness(95%) contrast(89%);
}
.preset{
    font-family: 'Arial'; 
    border: none;
    outline: none;
    color: #fff;
    background: #3A3A3A;
    cursor: pointer;
    z-index: 0;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-left: 10px;
}
.menu-buttons
{
    bottom: 0;
    position: fixed;
    width: 97.5%;
    height: 70px;
    background: #3A3A3A;
    border-color: #3A3A3A;
    border-style: solid;
    border-width: 5px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-width: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.activelight {
    background: #564A2F;
    color: white;
}

.activedevice{
    background: #4A614D;
    color: white;
}
.activefan {
    background: #314057;
    color: white;
}